{% extends 'base.html' %}

{% block content %}

<div class="w3-center w3-margin">
    <br>
    <h1>Division {{ division.Division_Number }}: {{ division.Division_Name }}</h1>
    <a href="{{ url_for('division.update', Division_ID = division.Division_ID) }}" class="w3-button w3-blue">Edit</a>
    <a href="{{ url_for('division.delete', Division_ID = division.Division_ID) }}" class="w3-button w3-red">Delete</a>
</div>

{% include 'league/division/parts/venue_section.html' %}
{% include 'league/division/parts/tonights_matches_section.html' %}
{% include 'league/division/parts/all_teams_section.html' %}

{% endblock %}
