{% extends 'base.html' %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
{% include 'league/venue/parts/update_form.html' %}

{% if venue %}
<div class="w3-container">
    <br>
    <h5>Pool Table Pairs</h5>
    <div class="w3-row-padding" style="margin:0 -16px">
        {{ wtf.quick_form(pooltable_form) }}

        <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white w3-margin-top">
            <thead>
            <th>Table Pair Name</th>
            </thead>
            {% for pt in pooltables %}
            <tr>
                <td>
                    <a href="{{ url_for('pooltable.update', PoolTable_ID=pt.id) }}">{{ pt.name }}</a>
                    - <a href="{{ url_for('pooltable.delete', PoolTable_ID=pt.id) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}

{% if schedules %}
<div class="w3-container">
    <br>
    <h5>Matches at this Venue Tonight</h5>
    <div class="w3-row-padding" style="margin:0 -16px">
        <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white w3-margin-top">
            <thead>
            <tr class="w3-theme">
                <th>Match Date</th>
                <th>Home Team</th>
                <th>Away Team</th>
                <th>Table(s)</th>
            </tr>
            </thead>
            <tbody>
            {% for match in schedules %}
            <tr>
                <td>{{ match.date }}</td>
                {% if match.home_team %}
                <td>{{ match.home_team.name }}</td>
                {% else %}
                <td></td>
                {% endif %}
                {% if match.away_team %}
                <td>{{ match.away_team.name }}</td>
                {% else %}
                <td></td>
                {% endif %}
                {% if match.pooltable %}
                <td>{{ match.pooltable.name }}</td>
                {% else %}
                <td>Unassigned</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<br><br>
{% endif %}

{% endblock %}
