<header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Teams (Expand for Matches)</b></h5>
</header>
<br>
<div class="w3-container">
    {% for t in division.teams %}
    <button class="w3-padding-16 w3-theme w3-button w3-block w3-left-align"
            onclick="myAccFunc('Team{{ t.id}}')">
        ( {{ t.number}} ) {{ t.name }} <i class="fa fa-caret-down"></i>
        - <a href="{{ url_for('team.delete', Team_ID=t.id) }}">Delete Team</a>
    </button>

    <div class="w3-hide" id="Team{{ t.id}}">
        <table class="w3-table w3-striped w3-bordered w3-margin-left">
            <thead>
            <tr class="w3-theme">
                <th>Match Date</th>
                <th>Home Team</th>
                <th>Away Team</th>
                <th>Table(s)</th>
            </tr>
            </thead>
            <tbody>
            {% for match in t.all_matches %}
            {% if match.date == todays_date %}
            <tr style="background-color: #D6EEEE">
            {% else %}
            <tr>
            {% endif %}
                {% if match.date == todays_date %}
                <td>{{ match.date }} - <b> Today </b></td>
                {% else %}
                <td>{{ match.date }}</td>
                {% endif %}
                <td>{{ match.home_team.name }} - {{ match.home_team_id }}</td>
                <td>{{ match.away_team.name }} - {{ match.away_team_id }}</td>
                <td>{{ match.pooltable.name }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% endfor %}
</div>